.pa {
	padding: 10px;
}

.w {
	display: inline-block;
	vertical-align: top;
}

.wTwoThirds {
	composes: w;
	width: calc(100% / 3 * 2);
}

.wOneThird {
	composes: w;
	width: calc(100% / 3);
}

.measure {
	max-width: 30em;
}

.flex {
	display: flex;
}

.wrapper {
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	padding: 30px;
}
