.pa {
	padding: 10px;
}

.ma {
	margin: 10px;
}

.mlSmall {
	margin-left: 5px;
}

.w {
	display: inline-block;
	vertical-align: top;
}

.wTwoThirds {
	composes: w;
	width: calc(100% / 3 * 2);
}

.wOneThird {
	composes: w;
	width: calc(100% / 3);
}

.fSmall {
	font-size: 14px;
}

.measure {
	max-width: 30em;
}

.flex {
	display: flex;
}

.flexVerticalCenter {
	composes: flex;
	align-items: center;
}

.flexWrap {
	composes: flex;
	flex-wrap: wrap;
}

.central {
	max-width: 1000px;
	margin: 0 auto;
}

.wpContent div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ba {
	border: 1px solid black;
}

.br {
	border-right: 1px solid black;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.pointer {
	cursor: pointer;
}

.background {
	background: white;
}

.dib {
	display: inline-block;
}

.fullHeight {
	min-height: 100vh;
}

.parentHeight {
	height: 100%;
}

.overflowHidden {
	overflow: hidden;
}

.sansSerif {
	font-family: 'Helvetica Neue', arial, sans-serif;
}

.serif {
	font-family: 'Times New Roman', serif;
}

.monospace {
	font-family: 'Courier New', monospace;
}

.palatino {
	font-family: 'Palatino', serif;
}

.garamond {
	font-family: 'Garamond', serif;
}

.bookman {
	font-family: 'Bookman', serif;
}

.comicSans {
	font-family: 'Comic Sans MS', fantasy;
}

.avantGarde {
	font-family: 'Avant Garde', serif;
}

.trebuchet {
	font-family: 'Trebuchet', sans-serif;
}

.impact {
	font-family: 'Impact', sans-serif;
}

.verdana {
	font-family: 'Verdana', serif;
}

.georgia {
	font-family: 'Georgia', serif;
}
