.card {
	background: white;
	border: 1px solid black;
	padding: 10px;
}

.card div {
	margin: 10px 0;
}

.cardNormal {
	composes: card;
	width: 100%;
}

.cardActive {
	composes: card;
	width: 33rem;
}
